<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Comic Book Zip</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>comic.cbz</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Comic Book RAR</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>comic.cbr</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
	</array>
	<key>CFBundleIconFile</key>
	<string>testicon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.comictoolx</string>
	<key>CFBundleName</key>
	<string>comictoolx</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
